@use "../module";

.nav-site {
  list-style: none;
  margin-block: 0;
  padding: 0;
  background-color: module.$var-base-white;
  text-align: center;
  border-top: 1px solid module.$var-base-secondary;

  @include module.grid-md-block {
    display: flex;
    border-top: none;
    flex-wrap: wrap;
  }

  @include module.grid-lg-block {
    gap: 20px;
  }
}

.nav-site__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid module.$var-base-secondary;
  transition-property: background-color, color;
  transition-duration: module.$var-transition-duration;

  &::before {
    position: absolute;
    content: "";
    height: 3px;
    display: block;
    inset: auto 0 0;
  }

  &:focus-visible {
    color: module.$var-base-primary;
  }

  @include module.grid-hover {
    color: module.$var-base-primary;
  }

  &:active {
    background-color: module.$var-base-secondary;

    @include module.grid-lg-block {
      color: module.$var-base-primary;
    }
  }

  @include module.grid-md-block {
    padding-block: 32px;
    border: none;
  }
}

.nav-site__link--active {
  @include module.grid-md-block {
    color: module.$var-base-primary;

    &::before {
      background-color: currentColor;
    }

    @include module.grid-hover {
      &::before {
        height: 5px;
      }
    }
  }
}
