@use "../module.scss";

.slider {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(0deg, module.$var-bg-flat-white 100%, module.$var-base-white 0%);

  @include module.grid-md-block {
    background-image: linear-gradient(180deg, module.$var-bg-flat-white 640px, module.$var-base-white 640px);
  }

  @include module.grid-lg-block {
    background-image: linear-gradient(0deg, module.$var-bg-flat-white 100%, module.$var-base-white 0%);
  }
}

.slider__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
}

.slider__button {
  cursor: pointer;
  position: absolute;
  inset-block: 0;
  border: none;
  background-color: transparent;
  padding: 0;

  @include module.grid-md-block {
    max-height: 640px;
  }

  @include module.grid-lg-block {
    max-height: none;
  }

  &::before {
    display: block;
    content: "";
    mask-image: url("./../../icons/arrow.svg");
    background-color: currentColor;
    width: 20px;
    height: 20px;

    @include module.grid-md-block {
      width: 80px;
    }
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    rotate: 180deg;
  }
}

.slider__dots {
  display: none;

  @include module.grid-lg-block {
    position: absolute;
    display: flex;
    column-gap: 8px;
    bottom: 64px;
    left: 50%;
    translate: -50% 0;
  }
}

.slider__dot {
  display: flex;
  align-items: center;
  width: 62px;
  height: 24px;
  background-color: transparent;
  color: module.$var-base-white;
  border: none;
  cursor: pointer;
  padding: 0;

  &--active {
    color: module.$var-base-primary;
  }

  &::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: currentColor;
  }
}
